  .json-editor-menu-tools{
  width: 100%;
  height: 35px;
  padding: 2px;
  background-color: rgb(213, 221, 246);
  border-radius: 5px;
  /*border-bottom-right-radius: 0px;*/
  /*border-bottom-left-radius: 0px;*/
  margin-bottom: 5px;
  }
  .json-editor-menu-tools span.title{
    line-height: 33px;
    padding-left: 5px;
  }
  .json-editor-left-col{
    float: left;
    width: 59%;
    padding-left: 15px;

  }
  .json-editor-right-col{
    float: right;
    width: 40%;
    padding-right: 15px;
  }
  .json-editor-right-col pre{
    border: 1px solid #97B0F8;
  }

  input.json-error,input.json-error:focus{
    box-shadow: 0px 0px 5px 1px rgb(227, 137, 137) !important;
    border: 1px solid red !important;
  }